<section id="contact">
        <h1>Contact Info</h1>
        <ul>
            <li><img src="img/telephone.svg" alt="telephone icon">   +63 932-709-2678</li>
            <li><img src="img/envelope.svg" alt="envelope icon">   christianalcanzarin@gmail.com</li>
            <a href="https://www.facebook.com/christian.alcanzarin.5" target="_blank" class="acontact"><li><img src="img/facebook.svg" alt="facebook icon">https://www.facebook.com/christian.alcanzarin.5</li></a>
            <a href="https://github.com/ooCJoo" target="_blank" class="acontact"><li><img src="img/github.svg" alt="github icon">https://github.com/ooCJoo</li></a>
            <a href="https://www.linkedin.com/in/christian-jay-alcanzarin/" target="_blank" class="acontact"><li><img src="img/linkedin.svg" alt="linkedin icon">https://www.linkedin.com/in/christian-jay-alcanzarin/</li></a>
        </ul>
</section>
