<section id="accomplishment">
        <h1>Accomplishments</h1>

        <a href="https://drive.google.com/file/d/17Tmc9oz1ljMGvXY6N5sssUpOxORTKFgB/view?usp=sharing" target="_blank" class="accomplish">
            <article>
                <h3>CSE PROFESSIONAL PASSER</h3>
                <p>March 26, 2023 — Pen and Paper Test (Professional Level)</p>
            </article>
        </a>

        <a href="https://drive.google.com/file/d/1w2mjQQkP70rQjyxUjsRMafmWQ2C7fn9p/view?usp=sharing" target="_blank" class="accomplish">
        <article>
        <h3>BACK-END WEB DEVELOPMENT 101</h3>
        <p>Certificate of Completion — BPI Technical-Vocational Program — Online
            Training — September 26- October 12, 2022</p>
        </article>
        </a>

        <h2>Udemy Certificate</h2>
        <a href="https://www.udemy.com/certificate/UC-d731f748-1863-4d25-99f7-cb83fe10cb4c/" target="_blank" class="accomplish">
            <article>
            <h3>HTML5 Ultimate Guide 2022</h3>
            <p>Instructors Learn Tech Plus</p>
            </article>
        </a>

        <a href="https://www.udemy.com/certificate/UC-81a7e7da-ae11-4c98-ab94-6e90fc6c121b/" target="_blank" class="accomplish">
            <article>
                <h3>HTML & CSS - Certificate Course for Beginners</h3>
                <p>Instructors Kiran Gavali</p>
            </article>
        </a>
</section>
