      
    <section id="projects">
        <h2>Past Projects</h2>

        <div>
        <p>WEB-BASED APPOINTMENT AND INFORMATION 
            MANAGEMENT WITH SMS NOTIFICATION AND QUEUEING 
            SYSTEM FOR GOLDENSTATE COLLEGE OF KORONADAL</p>
            <ul>
                <li>A group project for Capstone Project 1 and Capstone Project 2 subject at 
                    Goldenstate College of Koronadal, under Mr. Sherwin Ferrer served as our 
                    graduation thesis</li>
                <li>Role of Project Manager, Programmer and assisted in technical writing</li>
                <li> This project was a website designed to improve and optimize GSCK’s 
                    working appointment and information management process.</li>
                <li>Using </li>
                <li><a href="https://github.com/goddessyui/Web-Based-Appointment-and-Information-Management-with-SMS-Notification-and-Queuing-System-for-GSCK" class="gitlink" target="_blank">GITHUB CODE HERE</a></li>
            </ul>
            </div>
            <div>
                <p>SELF-SERVICE FOOD ORDERING SYSTEM FOR FINCING 
                    RESTAURANT</p>
                <ul>
                    <li>A group project for System Integration and Assurance 101 at Goldenstate 
                        College of Koronadal, under Mr. Jethro Dignadice.</li>
                    <li>Role of Project Manager, System Analyst, and a Programmer</li>
                    <li>An offline website for food ordering in a kiosk for fast transactions and to 
                        lessen face-to-face contact</li>
                    <li><a href="https://github.com/ooCJoo/Self-Service-Food-Ordering-System" class="gitlink" target="_blank">GITHUB CODE HERE</a></li>
                </ul>
            </div>
    </section>

