body{
    background-image: url(../public/img/rodrigo-dos-reis-h3AkzboxK4Q-unsplash.jpg);
    font-family: 'Courier New', monospace;
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}
.info{
    background-color: bisque;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: 'Courier New', monospace;
}

.web{
    padding-top: 0px;
}
h1{
    font-size: 50px;
}

/* a{
 color: black;
 text-decoration: dashed;
}
a :visited{
color: black;
}
a :hover{
color: rgb(85, 79, 72);
}
a :active{
color: rgb(85, 79, 72);
} */

/* a tag for accomplishment */
.accomplish{
    color: black;
    text-decoration: dashed;
   }
   .accomplish :visited{
   color: black;
   }
   .accomplish :hover{
   color: rgb(107, 107, 107);
   }
   .accomplish :active{
   color: rgb(107, 107, 107);
   }

   .acontact{
    color: black;
   }
   .acontact :visited{
   color: black;
   }
   .acontact :hover{
   color: rgb(107, 107, 107);
   }
   .acontact :active{
   color: rgb(107, 107, 107);
   }

.ulnone{
    list-style: none;
}
.gitlink{
    color: blue;
}
footer {
    background-color: #af7525;
    color: #000000;
    text-align: center;
    padding: 5px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    font-weight: bold;
}

.main{
    height: 100vh;
    overflow:hidden;
    position: relative;
  }
  .divnav{
    display: flex;

  }
  .submain {
    display: flex;
    flex: 2;
    align-items: center;
    height: 89.5%;
    } 
.head{
display: flex;
 flex-basis: 100%;
align-items: center;
}
.head div{
    display: inline-block;
}
.head-right{
    width: 50%;
}
.head-left{
    width: 50%;
}
.smolimg{
    width: 55px;
    height: 50px;
    /* display: block; */
}
.bigimg{
    width: 100%;
    height: 100%;

}
.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #af7525;
    font-size: 18px;
    font-weight: bold;
  }
  hr {
    height: 4px;
    background-color: #ff9500;
    border-color: #af7525;
  }
  
